.idea
creds.sh
creds2.sh
tmp/

# Infrastructure
Infrastructure/**/.terraform*
Infrastructure/**/terraform.tfstate
Infrastructure/**/terraform.tfstate.backup

# FrontEnd
FrontEnd/coverage/**
FrontEnd/junit.xml