# Global
**/.idea
**/creds.sh
**/creds2.sh
**/tmp/**
**/.DS_Store

# Infrastructure
Infrastructure/**/.terraform*
Infrastructure/**/terraform.tfstate
Infrastructure/**/terraform.tfstate.backup
Infrastructure/**/artifacts/**

# FrontEnd
FrontEnd/coverage/**
FrontEnd/junit.xml