# Global
**/.idea
**/creds.sh
**/creds2.sh
**/tmp/**
**/.DS_Store

# Infrastructure
Infrastructure/**/.terraform/**
Infrastructure/**/.terragrunt-cache/**
Infrastructure/**/terraform.tfstate
Infrastructure/**/terraform.tfstate.backup
Infrastructure/**/kubernetes.tf
Infrastructure/**/artifacts/**

# FrontEnd
FrontEnd/coverage/**
FrontEnd/junit.xml